{% extends 'base.html' %}
{% load static %}
{% load i18n %}  <!-- Cargar la librería de i18n para usar gettext -->

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/styles_user.css' %}">
    <title>{% trans "Inicio de Sesion" %}</title>
</head>
<body>
    <div class="form-container-login">
        <h2 class="form-title">{% trans "Inicia Sesion" %}</h2>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <input type="email" class="form-text" name="username" placeholder="{% trans 'Correo' %}" required><br>
                <input type="password" class="form-text" name="password" placeholder="{% trans 'Contraseña' %}" required><br>
                <p class="texto">{% trans 'Eres nuevo?' %} <a class="vinculo" href="{% url 'registro' %}">{% trans 'Regístrate' %}</a></p><br>
                <input type="submit" class="form-button" value="{% trans 'Iniciar Sesion' %}"><br>
            </form>
        </div>
    </div>
</body>

{% endblock %}