{% extends base_template %}
{% load static %}

{% block title %}Menú de Platos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Menú de Platos</h1>

    <!-- Barra de búsqueda -->
    <form method="GET" action="{% url 'platos' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar un plato..." value="{{ query }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <!-- Mostrar todos los platos -->
    <h2 class="text-center">Platos Fuertes</h2>
    <div class="row justify-content-center">
        {% for plato in platos_fuertes %}
            <div class="col-md-3 mb-4">
                <div class="card text-center custom-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ plato.nombre }}</h5>
                        <p class="card-text">{{ plato.descripcion }}</p>
                        <p><strong>Precio:</strong> ${{ plato.precio }}</p>
                        <button class="btn btn-success btn-agregar-carrito" data-idplato="{{ plato.idPlato }}" data-tipo="plato">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No se encontraron platos fuertes.</p>
        {% endfor %}
    </div>

    <h2 class="text-center">Combos</h2>
    <div class="row justify-content-center">
        {% for plato in combos %}
            <div class="col-md-3 mb-4">
                <div class="card text-center custom-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ plato.nombre }}</h5>
                        <p class="card-text">{{ plato.descripcion }}</p>
                        <p><strong>Precio:</strong> ${{ plato.precio }}</p>
                        <button class="btn btn-success btn-agregar-carrito" data-idplato="{{ plato.idPlato }}" data-tipo="plato">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No se encontraron combos.</p>
        {% endfor %}
    </div>
</div>

<!-- Incluir jQuery y carrito.js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'menu/carrito.js' %}"></script>
{% endblock %}
