{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="{% url 'home' %}" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Platos</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Bebidas</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link cart-button"><i class="fas fa-shopping-cart"></i></a></li>
                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link--login">Cerrar Sesion</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>