<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Platos</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Bebidas</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--register">Register</a></li>
            </ul>
        </div>
    </nav>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img src="../../static/logo_tacofactory.jpg" class="header__img">
            <h1>TACO FACTORY</h1>
        </div>
    </header>
</body>
</html>